<!--Barra de navegação-->

<nav class="navbar navbar-expand-lg navbar-espetinho">
    <div class="container-fluid">
        <div class="d-flex align-items-center gap-2">
            <a href="/"> <!--Redireciona para a home-->
                <!--Imagem da logo do espetinho-->
                <img src="{{ url_for('static', filename='img/logo-espeto.png') }}" alt="Logo" width="40" height="40">
            </a>
            <h1 class="fs-4 mb-0">
                <a href="/" class="text-decoration-none text-white fw-bold">Flask Espetinho</a>
            </h1>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <!--Botão para visualizar e adicionar produtos-->
                <a class="btn btn-light" href="/produtos">Produtos</a>
            </li>
        </ul>
    </div>
</nav>