{% extends "base.html" %}

{% block content %}

    <div class="container mt-4">

        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h3 class="text-center mb-4">Cadastro de Produtos</h3>

                <form action="{{ url_for('produto.cadastrar_produto') }}" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.nome.label }}
                        {{ form.nome(class="form-select mb-2") }}
                    </div>

                    <div class="mb-3">
                        {{ form.preco_venda.label }}
                        {{ form.preco_venda(class="form-select mb-2") }}
                    </div>

                        {{ form.submit(class="btn btn-success") }}
                </form>
            </div>
        </div>

        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nome do produto</th>
                    <th>Preço unitário</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.id }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>R$ {{ "%.2f"|format(produto.preco_venda | float) }}</td>
                    <td>
                        <a href="{{ url_for('produto.editar_produto', id=produto.id) }}"
                           class="btn btn-warning btn-sm">Editar</a>
                        <a href="{{ url_for('produto.apagar_produto', id=produto.id) }}"
                           class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('home.home') }}" class="btn btn-secondary">Voltar</a>

    </div>
{%endblock%}