{% extends "base.html" %}

{% block content %}

    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center mb-4">Editar Produto</h3>

                <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{form.nome.label(class="form-label")}}                          
                        {{ form.nome(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{form.preco_venda.label(class="form-label")}}                          
                        {{ form.preco_venda(class="form-control") }}
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-success w-100">Atualizar</button>
                        <a href="{{ url_for('produto.apagar_produto', id=produto.id) }}" class="btn btn-danger">Apagar</a>
                        <a href="{{ url_for('produto.produto') }}" class="btn btn-secondary">Cancelar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
{%endblock%}